<div class="navigate-container clickable-icon" data-action="{{this.action}}" data-group="{{this.group}}" data-tab="{{this.tab}}">
    <i class="fa-solid fa-arrow-left"></i>
    <div>{{this.label}}</div>
</div>