<div class="radio-button clickable-icon" data-action="{{this.action}}" data-position="{{this.position}}">
    {{#if this.selected}}
        <div class="radio-button-selected"></div>
    {{/if}}
</div>