<div class="event-tab tab {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    {{#if (not this.selectedEvent)}}
        {{> "modules/pf2e-subsystems/templates/partials/events.hbs" tab=this.tab name=(localize "PF2ESubsystems.Events.Infiltration.Single") plural=(localize "PF2ESubsystems.Events.Infiltration.Plural") events=this.events eventSearchValue=this.eventSearchValue }}
    {{else}}
        {{> "modules/pf2e-subsystems/templates/system-view/systems/infiltration/infiltration.hbs" 
            editMode=this.editMode 
            selected=this.selected 
            event=this.selectedEvent 
            isGM=this.isGM 
            settings=this.settings
            layout=this.layout
            clipboardFallback=this.clipboardFallback
            currentObjectiveNr=this.currentObjectiveNr
            currentObjective=this.currentObjective
            infiltrationPoints=this.infiltrationPoints
            infiltrationTabs=this.infiltrationTabs
            activityTabs=this.activityTabs
            obstacleTabs=this.obstacleTabs
            complicationTabs=this.complicationTabs
            sidebarTabs=this.sidebarTabs
            skillOptions=this.skillOptions
            actionOptions=this.actionOptions
            partyMembers=this.partyMembers
            infiltrationObstacleStyle=this.infiltrationObstacleStyle
            infiltrationOpportunityStyle=this.infiltrationOpportunityStyle
            infiltrationComplicationStyle=this.infiltrationComplicationStyle
        }}
    {{/if}}
</div>