<footer class="flexrow">
    <button type="submit" class="secondary-container primary-text-container"><i class="fa-solid fa-floppy-disk"></i>&nbsp;{{localize "PF2ESubsystems.Basic.Save"}}</button>
    <button data-action="close" class="secondary-container primary-text-container"><i class="fa-solid fa-xmark"></i>&nbsp;{{localize "PF2ESubsystems.Basic.Cancel"}}</button>
</footer>