<div class="event-tab tab {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    {{#if (not this.selectedEvent)}}
        {{> "modules/pf2e-subsystems/templates/partials/events.hbs" tab=this.tab name=(localize "PF2ESubsystems.Events.Research.Single") plural=(localize "PF2ESubsystems.Events.Research.Plural") events=this.events }}
    {{else}}
        {{> "modules/pf2e-subsystems/templates/system-view/systems/research/research.hbs" 
            editMode=this.editMode 
            skillCheckTabs=skillCheckTabs 
            selected=this.selected 
            event=this.selectedEvent 
            isGM=this.isGM 
            skillOptions=this.skillOptions 
            actionOptions=this.actionOptions 
            researchEventsShown=this.researchEventsShown 
            showTimeLimit=this.showTimeLimit
            timeUnits=this.timeUnits
        }}
    {{/if}}
</div>