<div class="value-dialog-container">
    <input type="text" name="value" value="{{this.value}}" class="value-dialog-input primary-container" />
    <button type="submit" class="value-dialog-confirm secondary-container"><i class="fa-solid fa-check"></i></button>
</div>