form.pf2e-subsystems.application {
  background-color: var(--pf2e-subsystem-theming-application);
  background-image: var(--pf2e-subsystem-theming-application-image);
  background-size: var(--pf2e-subsystem-theming-application-image-size);
  background-repeat: var(--pf2e-subsystem-theming-application-image-repeat);
  background-position: var(--pf2e-subsystem-theming-application-image-position);
}
form.pf2e-subsystems.application > header {
  background: var(--pf2e-subsystem-theming-application-header);
}
form.pf2e-subsystems.application > header .header-control {
  background: var(--button-background-color);
}
.application-border-container {
  border-color: var(--pf2e-subsystem-theming-application-border);
}
.pf2e-subsystems .primary-container,
.pf2e-subsystems input.primary-container {
  background-color: var(--pf2e-subsystem-theming-primary);
  border-color: var(--pf2e-subsystem-theming-border);
  color: var(--pf2e-subsystem-theming-primary-color);
}
.pf2e-subsystems .primary-container.accent,
.pf2e-subsystems input.primary-container.accent,
.pf2e-subsystems .primary-container.accent.empty,
.pf2e-subsystems input.primary-container.accent.empty {
  background-color: var(--pf2e-subsystem-theming-primary-accent);
}
.pf2e-subsystems .primary-container.empty,
.pf2e-subsystems input.primary-container.empty {
  background-color: var(--pf2e-subsystem-theming-primary);
}
.pf2e-subsystems .primary-container .data-icon,
.pf2e-subsystems input.primary-container .data-icon {
  filter: var(--pf2e-subsystem-theming-icon-filter);
}
.pf2e-subsystems .primary-container option,
.pf2e-subsystems input.primary-container option {
  background-color: var(--pf2e-subsystem-theming-primary);
  border-color: var(--pf2e-subsystem-theming-border);
  color: var(--pf2e-subsystem-theming-primary-color);
}
.pf2e-subsystems .primary-container-faded {
  background-color: var(--pf2e-subsystem-theming-primary-faded);
  border-color: var(--pf2e-subsystem-theming-border);
  color: var(--pf2e-subsystem-theming-primary-color);
}
.pf2e-subsystems .secondary-container,
.pf2e-subsystems input.secondary-container {
  background-color: var(--pf2e-subsystem-theming-secondary);
  border-color: var(--pf2e-subsystem-theming-border);
  color: var(--pf2e-subsystem-theming-primary-color);
  background-image: var(--pf2e-subsystem-theming-application-secondary-image);
}
.pf2e-subsystems .secondary-container.accent,
.pf2e-subsystems input.secondary-container.accent {
  background-color: var(--pf2e-subsystem-theming-secondary-accent);
}
.pf2e-subsystems .secondary-container option,
.pf2e-subsystems input.secondary-container option {
  background-color: var(--pf2e-subsystem-theming-secondary);
  border-color: var(--pf2e-subsystem-theming-border);
  color: var(--pf2e-subsystem-theming-primary-color);
}
.pf2e-subsystems .secondary-container .data-icon,
.pf2e-subsystems input.secondary-container .data-icon {
  filter: var(--pf2e-subsystem-theming-icon-filter);
}
.pf2e-subsystems .tertiary-container,
.pf2e-subsystems input.tertiary-container {
  background-color: var(--pf2e-subsystem-theming-tertiary);
  border-color: var(--pf2e-subsystem-theming-border);
  color: var(--pf2e-subsystem-theming-primary-color);
}
.pf2e-subsystems .tertiary-container.accent,
.pf2e-subsystems input.tertiary-container.accent {
  background-color: var(--pf2e-subsystem-theming-tertiary-accent);
}
.pf2e-subsystems .tertiary-container .data-icon,
.pf2e-subsystems input.tertiary-container .data-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.pf2e-subsystems .tertiary-container option,
.pf2e-subsystems input.tertiary-container option {
  background-color: var(--pf2e-subsystem-theming-tertiary);
  border-color: var(--pf2e-subsystem-theming-border);
  color: var(--pf2e-subsystem-theming-primary-color);
}
.pf2e-subsystems .spell-container.even {
  background: rgba(0, 0, 0, 0.1);
}
.pf2e-subsystems .primary-outline {
  filter: var(--pf2e-subsystem-theming-primary-outline);
}
.pf2e-subsystems .primary-border-container {
  border-color: var(--pf2e-subsystem-theming-border);
}
.pf2e-subsystems .secondary-border-container {
  border-color: var(--pf2e-subsystem-theming-secondary-border);
}
.pf2e-subsystems .main-border-container {
  border-color: var(--pf2e-subsystem-theming-primary);
}
.pf2e-subsystems .primary-hover-container:not(.disabled) {
  cursor: pointer;
}
.pf2e-subsystems .primary-hover-container:not(.disabled):hover {
  filter: drop-shadow(0 0 3px var(--pf2e-subsystem-theming-main-hover));
}
.pf2e-subsystems .primary-hover-container:not(.disabled).border {
  border-color: var(--pf2e-subsystem-theming-primary);
}
.pf2e-subsystems .primary-hover-container.disabled {
  opacity: 0.5;
}
.pf2e-subsystems .primary-hover-container.active {
  filter: drop-shadow(0 0 3px var(--pf2e-subsystem-theming-main-hover));
}
.pf2e-subsystems .primary-tab:hover {
  text-shadow: 0 0 5px var(--pf2e-subsystem-theming-main-hover);
}
.pf2e-subsystems .primary-tab.active {
  text-shadow: 0 0 5px var(--pf2e-subsystem-theming-main-hover);
}
.pf2e-subsystems .primary-icon {
  color: var(--pf2e-subsystem-theming-icon);
}
.pf2e-subsystems .secondary-icon {
  color: var(--pf2e-subsystem-theming-secondary-icon);
}
.pf2e-subsystems .primary-text-container {
  color: var(--pf2e-subsystem-theming-primary-color);
}
.pf2e-subsystems .text-shadow-container {
  text-shadow: 1px 1px 4px var(--pf2e-subsystem-theming-text-shadow);
}
.pf2e-subsystems .primary-editor button.icon.toggle {
  background-color: var(--pf2e-subsystem-theming-secondary);
  color: var(--pf2e-subsystem-theming-primary-color);
  border-color: var(--pf2e-subsystem-theming-border);
}
.pf2e-subsystems .primary-editor menu {
  background-color: var(--pf2e-subsystem-theming-secondary);
  border-color: var(--pf2e-subsystem-theming-border);
  border: 1px solid;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.pf2e-subsystems .primary-editor menu li button {
  color: var(--pf2e-subsystem-theming-primary-color);
}
.pf2e-subsystems .primary-editor menu li button.pm-dropdown {
  background: var(--pf2e-subsystem-theming-tertiary);
}
.pf2e-subsystems .primary-editor menu li button.pm-dropdown i.fa-chevron-down {
  color: var(--pf2e-subsystem-theming-primary-color);
}
.pf2e-subsystems .primary-editor .editor-content {
  border-color: var(--pf2e-subsystem-theming-border);
  border: 1px solid;
  border-radius: 4px;
}
.pf2e-subsystems .primary-editor .editor-content[contenteditable="true"] {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.pf2e-subsystems .bookmark:hover {
  background-color: var(--pf2e-subsystem-theming-primary-accent);
}
.pf2e-subsystems.systems-view .window-content {
  overflow: visible;
  height: calc(100% - 75px);
}
.pf2e-subsystems.systems-view .window-header {
  overflow-y: visible;
  overflow-x: visible;
  background-image: var(--pf2e-subsystem-theming-application-header-image);
  background-size: var(--pf2e-subsystem-theming-application-header-image-size);
  background-repeat: var(--pf2e-subsystem-theming-application-header-image-repeat);
  background-position: var(--pf2e-subsystem-theming-application-header-image-position);
  border-color: var(--pf2e-subsystem-theming-application-border);
}
.pf2e-subsystems.systems-view .window-header h1 {
  text-shadow: 1px 1px 4px var(--pf2e-subsystem-theming-text-shadow);
}
.pf2e-subsystems.systems-view .systems-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  pointer-events: all;
}
.pf2e-subsystems.systems-view .systems-container .header-section {
  text-align: center;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--pf2e-subsystem-theming-primary-color);
}
.pf2e-subsystems.systems-view .systems-container .main-section {
  flex: 1;
}
.pf2e-subsystems.systems-view .systems-container .main-section .systems-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}
.pf2e-subsystems.systems-view .systems-container .main-section .systems-section .system-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: calc(33% - 3px);
  border-width: 2px;
  border-style: outset;
  border-color: white;
}
.pf2e-subsystems.systems-view .systems-container .main-section .systems-section .system-section .system-section-label {
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 10px white;
  position: absolute;
  top: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pf2e-subsystems.systems-view .systems-container .main-section .systems-section .system-section img {
  border: 0;
  border-radius: 0;
}
.pf2e-subsystems.systems-view .systems-container .main-section .systems-section .system-section .locked-section {
  position: absolute;
  font-size: 96px;
  text-shadow: 0 0 5px var(--pf2e-subsystem-theming-secondary-icon);
}
.pf2e-subsystems.systems-view .event-tab {
  height: 100%;
  width: 100%;
}
.pf2e-subsystems.systems-view .event-select-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.pf2e-subsystems.systems-view .event-select-container.tabs {
  width: 100%;
  height: 100%;
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .system-title-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--pf2e-subsystem-theming-primary-color);
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .system-title-container .system-title-navigation {
  z-index: 2;
  position: absolute;
  left: 0;
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .system-title-container .system-title-inner-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .system-title-container .system-title-inner-container .system-title-add-button {
  position: absolute;
  right: -30px;
  font-size: 30px;
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .events-header {
  display: flex;
  align-items: center;
  gap: 32px;
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .events-header .new-event-container {
  background-color: orange;
  border-width: 2px;
  border-style: outset;
  border-color: black;
  border-radius: 4px;
  padding: 4px;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .events-container {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .events-container .event-container {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-width: 2px;
  border-style: outset;
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .events-container .event-container:hover .event-container-header .event-toolbar {
  overflow: auto;
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .events-container .event-container:hover .event-container-header .event-toolbar .event-toolbar-inner {
  top: 0;
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .events-container .event-container .event-container-header {
  border-width: 2px;
  border-style: outset;
  border-color: black;
  border-radius: 6px 6px 0 0;
  text-align: center;
  text-wrap: auto;
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .events-container .event-container .event-container-header .event-toolbar {
  position: absolute;
  display: flex;
  gap: 8px;
  top: 17px;
  right: 2px;
  height: calc(100% - 17px);
  overflow: hidden;
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .events-container .event-container .event-container-header .event-toolbar .event-toolbar-inner {
  flex: 1;
  position: relative;
  padding: 4px;
  border-style: dotted;
  border-width: 2px;
  top: -79px;
  height: 79px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: top 0.3s;
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .events-container .event-container .event-container-header .event-toolbar .event-toolbar-inner .event-remove,
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .events-container .event-container .event-container-header .event-toolbar .event-toolbar-inner .event-edit {
  font-size: 18px;
}
.pf2e-subsystems.systems-view .event-select-container .events-outer-container .events-container .event-container img {
  max-width: auto;
}
.pf2e-subsystems.systems-view .event-outer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pf2e-subsystems.systems-view .event-outer-container .event-container {
  flex: 1;
  display: flex;
  gap: 16px;
  overflow: hidden;
}
.pf2e-subsystems.systems-view .event-outer-container .event-container .event-field-group {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pf2e-subsystems.systems-view .event-outer-container .event-container .event-field-group .event-field-form {
  display: flex;
  align-items: center;
  gap: 4px;
  flex: 1;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.pf2e-subsystems.systems-view .event-outer-container .event-container .event-field-group .event-field-col-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.pf2e-subsystems.systems-view .event-outer-container .event-container .title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-align: center;
  height: 45px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.pf2e-subsystems.systems-view .event-outer-container .event-container .event-sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pf2e-subsystems.systems-view .event-outer-container .event-container .event-sidebar .event-image {
  width: 200px;
  border-width: 2px;
  border-style: outset;
  border-radius: 4px;
}
.pf2e-subsystems.systems-view .event-outer-container .event-container .event-main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
}
.pf2e-subsystems.systems-view .event-outer-container .event-container .event-main-container .event-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.pf2e-subsystems.systems-view .event-outer-container .event-container .event-main-container .event-header-container .event-header-title-container {
  flex: 1;
  display: flex;
  align-items: center;
}
.pf2e-subsystems.systems-view .event-outer-container .event-container .event-main-container .event-header-container .event-header-title-container .event-header-title {
  flex: 1;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  padding: 4px;
  min-width: 120px;
  text-align: center;
}
.pf2e-subsystems.systems-view .event-outer-container .event-container .event-main-container .event-header-container .event-header-toolbar {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: nowrap;
  white-space: nowrap;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  padding: 4px;
}
.pf2e-subsystems .chase-view {
  height: 100%;
}
.pf2e-subsystems .chase-view .event-outer-container .chase-action-container {
  display: flex;
  align-items: center;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .description-outer-container {
  border-width: 2px;
  border-style: outset;
  border-radius: 4px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .description-outer-container .title-container .description-title-inner-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .description-outer-container .description-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: 4px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .description-outer-container .description-container textarea {
  flex: 1;
  padding: 4px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .description-outer-container .description-container .text-container {
  font-style: italic;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .rounds-outer-container {
  border-width: 2px;
  border-style: outset;
  border-radius: 4px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .rounds-outer-container .rounds-title-inner-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  padding: 4px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .rounds-outer-container .rounds-title-inner-container .rounds-number-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .rounds-outer-container .rounds-title-inner-container .rounds-number-container .rounds-control-upper {
  position: absolute;
  top: -6px;
  font-size: 16px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .rounds-outer-container .rounds-title-inner-container .rounds-number-container .rounds-control-lower {
  position: absolute;
  bottom: -7px;
  font-size: 16px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .rounds-outer-container .rounds-title-inner-container input {
  width: 32px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .rounds-outer-container .rounds-container {
  padding: 4px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: outset;
  border-radius: 4px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .title-container .participants-title-inner-container {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .title-container .participants-title-inner-container.standalone {
  justify-content: center;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .title-container .participants-title-inner-container .participants-party-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .title-container .participants-title-inner-container .participants-party-container .participant-party-control-upper {
  position: absolute;
  top: 0px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .title-container .participants-title-inner-container .participants-party-container .participant-party-control-lower {
  position: absolute;
  bottom: 0px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .title-container .participants-title-inner-container .participants-title-add {
  font-size: 16px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .title-container .participants-helper-text {
  position: absolute;
  bottom: 0;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .participants-container {
  flex: 1;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .participants-container .participant-container {
  display: flex;
  align-items: center;
  border-width: 2px;
  border-style: outset;
  border-radius: 6px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .participants-container .participant-container img {
  width: 42px;
  height: 40px;
  border-radius: 6px 0 0 6px;
  border: 0;
  border-right: 2px black;
  border-right-style: double;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .participants-container .participant-container .participant-data-container {
  flex: 1;
  height: 100%;
  padding: 0 4px;
  display: flex;
  align-items: center;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .participants-container .participant-container .participant-data-container .participant-data-container-label {
  flex: 1;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .participants-container .participant-container .participant-data-container .participant-toolbar {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .participants-container .participant-container .participant-data-container .participant-toolbar .participant-toolbar-number {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 4px;
  font-size: 16px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .participants-container .participant-container .participant-data-container .participant-toolbar .participant-toolbar-number.editing {
  flex-direction: column;
  margin: -3px -3px -3px 0;
  height: 100%;
  gap: 0px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .participants-container .participant-container .participant-data-container .participant-toolbar .participant-toolbar-number.editing button {
  flex: 1;
  padding: 0;
  margin: 0;
  width: 24px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .participants-container .participant-container .participant-data-container .participant-toolbar .participant-toolbar-number.editing button i {
  margin: 0;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .participants-container .participant-container .participant-data-container .participant-toolbar .participant-toolbar-number .participant-control-upper {
  position: absolute;
  top: -9px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .participants-container .participant-container .participant-data-container .participant-toolbar .participant-toolbar-number .participant-control-lower {
  position: absolute;
  bottom: -10px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .participants-container .participant-container .participant-data-container .participant-toolbar .participant-checkmark {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  opacity: 0.5;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-sidebar .participants-outer-container .participants-container .participant-container .participant-data-container .participant-toolbar .participant-checkmark.has-acted {
  opacity: 1;
  filter: drop-shadow(0 0 3px var(--pf2e-subsystem-theming-main-hover));
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: outset;
  border-radius: 4px;
  padding: 0;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container .chase-event-display {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 4px;
  z-index: 2;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container .chase-event-display .chase-event-display-add {
  font-size: 10px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container .title-container {
  margin-top: -6px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container .title-container .chase-event-header-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container .title-container .chase-event-header-inner .chase-event-header-title {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container .title-container .chase-event-header-inner .chase-event-header-title .chase-event-header-title-delete {
  position: absolute;
  right: -24px;
  font-size: 20px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container .title-container .chase-event-lock {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 24px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container .chase-event-inner-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container .chase-event-inner-container img {
  width: 60%;
  border: 0;
  border-radius: 6px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container .chase-event-inner-container .chase-event-chase-points-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  font-weight: bold;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container .chase-event-inner-container .chase-event-chase-points-container input {
  height: 17px;
  width: 40px;
  text-align: center;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container .chase-event-inner-container .chase-event-chase-points-container .chase-event-chase-points-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: -12px;
  font-size: 12px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container .chase-event-inner-container .chase-event-data-container {
  flex: 1;
  width: 100%;
  border-radius: 4px;
  border-width: 2px;
  border-style: outset;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container .chase-event-inner-container .chase-event-data-container .editor-container {
  margin: 0 8px;
}
.pf2e-subsystems .chase-view .event-outer-container .event-container .event-main-container .chase-event-container .chase-event-inner-container .chase-event-data-container .text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-sidebar .research-points-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border-width: 2px;
  border-style: outset;
  border-radius: 4px;
  padding: 4px;
  height: 55px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-sidebar .research-points-container .research-points-number-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-sidebar .research-points-container .research-points-number-container .research-points-number-upper {
  position: absolute;
  top: -8px;
  font-size: 16px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-sidebar .research-points-container .research-points-number-container .research-points-number-lower {
  position: absolute;
  bottom: -8px;
  font-size: 16px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-sidebar .time-limit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  border-width: 2px;
  border-style: outset;
  border-radius: 4px;
  padding: 4px;
  height: 55px;
  font-size: 22px;
  font-weight: bold;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-sidebar .time-limit-container .time-limit-number-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-sidebar .time-limit-container .time-limit-number-container .time-limit-number-upper {
  position: absolute;
  top: -8px;
  font-size: 16px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-sidebar .time-limit-container .time-limit-number-container .time-limit-number-lower {
  position: absolute;
  bottom: -8px;
  font-size: 16px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-sidebar .research-premise {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: outset;
  border-radius: 4px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-sidebar .research-premise .research-premise-content {
  flex: 1;
  padding: 4px;
  display: flex;
  flex-direction: column;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-sidebar .research-premise .research-premise-content textarea {
  flex: 1;
  padding: 4px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-sidebar .research-premise .research-premise-content .text-container {
  font-style: italic;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .title-container .title-container-inner,
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .title-small-container .title-container-inner {
  position: relative;
  display: flex;
  align-items: center;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .title-container .title-container-inner i,
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .title-small-container .title-container-inner i {
  position: absolute;
  right: -24px;
  font-size: 24px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .event-folding {
  height: 0;
  overflow: hidden;
  transition: all 0.5;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .event-folding.unfolded {
  height: auto;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: outset;
  border-radius: 4px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container {
  flex: 1;
  padding: 4px;
  display: flex;
  flex-direction: column;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  padding: 4px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-header {
  position: relative;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-header.extended {
  padding: 0 64px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-header nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-header nav a {
  flex: 1;
  padding: 4px;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-header .form-group {
  width: 100%;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-header .research-check-subheader {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-header .research-check-delete-button {
  position: absolute;
  left: 2px;
  font-size: 18px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-header .research-check-hider {
  position: absolute;
  right: 32px;
  font-size: 18px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-header .research-check-opener {
  position: absolute;
  right: 0;
  font-size: 32px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-description {
  font-style: italic;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks .research-check-skill-check {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks .research-check-skill-check :not(.research-check-skill-check-button) {
  flex-wrap: nowrap;
  white-space: nowrap;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks .research-check-skill-check .research-check-skill-check-buttons {
  display: flex;
  align-items: center;
  gap: 4px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks .research-check-skill-check .research-check-skill-check-title {
  font-weight: bold;
  margin-right: 4px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks-outer-container {
  border-width: 1px;
  border-style: solid;
  padding: 0 8px 8px 8px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks-outer-container .research-check-skill-check-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks-outer-container .research-check-skill-check-title .research-check-skill-check-title-inner {
  position: relative;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks-outer-container .research-check-skill-check-title .research-check-skill-check-title-inner i {
  position: absolute;
  right: -24px;
  font-size: 24px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks-outer-container .research-check-skill-checks-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-width: 2px;
  border-style: inset;
  padding: 2px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks-outer-container .research-check-skill-checks-container .research-check-skill-check-inner-container {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  border-width: 1px;
  border-style: solid;
  padding: 0 4px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks-outer-container .research-check-skill-checks-container .research-check-skill-check-inner-container.padded {
  padding-right: 20px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks-outer-container .research-check-skill-checks-container .research-check-skill-check-inner-container i {
  margin-top: 2px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks-outer-container .research-check-skill-checks-container .research-check-skill-check-inner-container .research-check-skill-check-value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 49px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks-outer-container .research-check-skill-checks-container .research-check-skill-check-inner-container .research-check-skill-check-value-container select {
  text-align: center;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks-outer-container .research-check-skill-checks-container .research-check-skill-check-inner-container .research-check-skill-check-value-container input {
  margin: 0 0 5px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks-outer-container .research-check-skill-checks-container .research-check-skill-check-inner-container .research-check-skill-check-value-container.full {
  flex: 1;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks-outer-container .research-check-skill-checks-container .research-check-skill-check-inner-container .research-check-skill-check-value-container.dc input {
  width: 32px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-checks-container .research-checks-inner-container .research-check-container .research-check-skill-checks-outer-container .research-check-skill-checks-container .research-check-skill-checks-full-field {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-breakpoints-container {
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: outset;
  border-radius: 4px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-breakpoints-container .research-breakpoints-inner-container {
  width: 100%;
  flex: 1;
  padding: 4px;
  display: flex;
  flex-direction: column;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-breakpoints-container .research-breakpoints-inner-container .research-breakpoint-container {
  display: flex;
  flex-direction: column;
  padding: 4px;
  border-width: 1px;
  border-style: solid;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-breakpoints-container .research-breakpoints-inner-container .research-breakpoint-container .research-breakpoint-delete-button {
  position: absolute;
  left: 2px;
  font-size: 18px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-breakpoints-container .research-breakpoints-inner-container .research-breakpoint-container .research-breakpoint-hider {
  position: absolute;
  right: 32px;
  font-size: 18px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-breakpoints-container .research-breakpoints-inner-container .research-breakpoint-container .research-breakpoint-opener {
  position: absolute;
  right: 0;
  font-size: 32px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-breakpoints-container .research-breakpoints-inner-container .research-breakpoint-container .research-breakpoint-number {
  position: relative;
  padding: 0 32px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-breakpoints-container .research-breakpoints-inner-container .research-breakpoint-container .research-breakpoint-number .research-breakpoint-number-title {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 2px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-breakpoints-container .research-breakpoints-inner-container .research-breakpoint-container textarea {
  flex: 1;
  padding: 8px;
  height: 66px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-breakpoints-container .research-breakpoints-inner-container .research-breakpoint-container .research-breakpoint-text {
  flex: 1;
  height: 100%;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-breakpoints-container .research-breakpoints-inner-container .research-breakpoint-container .research-breakpoint-tool-icon {
  align-self: center;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-breakpoints-container .research-breakpoints-inner-container .research-breakpoint-container .research-breakpoint-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-breakpoints-container .research-breakpoints-inner-container .research-breakpoint-container .research-breakpoint-title .research-breakpoint-title-inner {
  position: relative;
  display: flex;
  align-items: center;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-breakpoints-container .research-breakpoints-inner-container .research-breakpoint-container .research-breakpoint-title .research-breakpoint-title-inner i {
  position: absolute;
  right: -28px;
  font-size: 20px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-events-container {
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: outset;
  border-radius: 4px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-events-container .research-event-hider {
  position: absolute;
  right: 32px;
  font-size: 18px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-events-container .research-event-opener {
  position: absolute;
  right: 0;
  font-size: 32px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-events-container .research-events-inner-container {
  display: flex;
  flex-direction: column;
  padding: 4px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-events-container .research-events-inner-container .research-event-container {
  display: flex;
  flex-direction: column;
  padding: 4px;
  border-width: 1px;
  border-style: solid;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-events-container .research-events-inner-container .research-event-container .research-event-header {
  position: relative;
  padding: 0 32px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-events-container .research-events-inner-container .research-event-container .research-event-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-events-container .research-events-inner-container .research-event-container .research-event-title .research-event-title-inner {
  position: relative;
  display: flex;
  align-items: center;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-events-container .research-events-inner-container .research-event-container .research-event-title .research-event-title-inner i {
  position: absolute;
  right: -28px;
  font-size: 20px;
}
.pf2e-subsystems .research-view .event-outer-container .event-container .event-main-container .research-events-container .research-events-inner-container .research-event-container .research-event-text {
  font-style: italic;
}
.pf2e-subsystems.pf2e-subsystems-menu .menu-outer-container {
  display: flex;
  flex-direction: column;
}
.pf2e-subsystems.pf2e-subsystems-menu .menu-outer-container .tabs {
  gap: 0;
}
.pf2e-subsystems.pf2e-subsystems-menu .menu-outer-container .tabs .system-tab {
  flex: 1;
  border-width: 2px;
  border-style: outset;
}
.pf2e-subsystems.pf2e-subsystems-menu .menu-outer-container .menu-group {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pf2e-subsystems.pf2e-subsystems-menu .menu-outer-container .menu-group .menu-form {
  display: flex;
  align-items: center;
  gap: 4px;
}
.pf2e-subsystems.pf2e-subsystems-menu .menu-outer-container .menu-main-container {
  border-width: 2px;
  border-style: outset;
  padding: 4px;
  margin-bottom: 8px;
}
.clickable-icon {
  cursor: pointer;
  color: var(--pf2e-subsystem-theming-primary-color);
}
.clickable-icon.disabled {
  opacity: 0.5;
}
.clickable-icon:hover,
.clickable-icon.selected {
  filter: drop-shadow(0 0 3px gold);
}
.pf2e-subsystems {
  /* Texts */
  /* Texts */
}
.pf2e-subsystems .text-helper,
.pf2e-subsystems input.text-helper {
  font-size: 8px;
  font-style: italic;
}
.pf2e-subsystems .text-normal,
.pf2e-subsystems input.text-normal {
  font-size: 14px;
}
.pf2e-subsystems .text-helper-big,
.pf2e-subsystems input.text-helper-big {
  font-size: 12px;
  font-style: italic;
}
.pf2e-subsystems .title-large-container,
.pf2e-subsystems input.title-large-container {
  font-size: 32px;
  font-weight: bold;
}
.pf2e-subsystems .title-container,
.pf2e-subsystems input.title-container {
  font-size: 24px;
  font-weight: bold;
}
.pf2e-subsystems .title-small-container,
.pf2e-subsystems input.title-small-container {
  font-size: 20px;
  font-weight: bold;
}
.pf2e-subsystems .navigate-container {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--pf2e-subsystem-theming-primary-color);
}
.pf2e-subsystems .navigate-container i {
  font-size: 16px;
}
.pf2e-subsystems .radio-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  background-color: white;
}
.pf2e-subsystems .radio-button.selected {
  background-color: var(--pf2e-subsystem-theming-tertiary);
}
.pf2e-subsystems .radio-button.selected .radio-button-locked {
  color: var(--pf2e-subsystem-theming-secondary-icon);
  text-shadow: 0 0 5px var(--pf2e-subsystem-theming-primary-color);
}
.pf2e-subsystems .radio-button .radio-button-selected {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--pf2e-subsystem-theming-tertiary);
  content: "";
}
.pf2e-subsystems .radio-button .radio-button-locked {
  font-size: 10px;
  color: black;
}
.pf2e-subsystems .toggle-switch {
  position: relative;
  display: flex;
  align-items: center;
}
.pf2e-subsystems .editor {
  height: 100%;
  overflow: auto;
}
.pf2e-subsystems .editor .editor-container {
  height: 100%;
}
.pf2e-subsystems .editor .editor-container .editor-content {
  height: 100%;
  overflow: auto;
}
