@import "./variables.less";
@import "./colorClasses.less";
@import "./stylesheets/system-view.less";
@import "./stylesheets/chase.less";
@import "./stylesheets/research.less";

.clickable-icon {
    cursor: pointer;
    color: var(--pf2e-subsystem-theming-primary-color);

    &.disabled {
      opacity: 0.5;
    }

    &:hover,
    &.selected {
      filter: drop-shadow(0 0 3px gold);
    }
}

.pf2e-subsystems {
  /* Texts */
  .text-helper, input.text-helper {
    font-size: @textHelper;
    font-style: italic;
  }

  .text-helper-big, input.text-helper-big {
    font-size: @textHelperBig;
    font-style: italic;
  }

  .title-large-container, input.title-large-container {
    font-size: @textTitleLarge;
    font-weight: bold;
  }
  
  .title-container, input.title-container {
    font-size: @textTitle;
    font-weight: bold;
  }

  .title-small-container, input.title-small-container {
    font-size: @textTitleSmall;
    font-weight: bold;
  }
  /* Texts */

  .navigate-container {
    display: flex;
    align-items: center;
    gap: @gapNormal;
    color: var(--pf2e-subsystem-theming-primary-color);

    i {
      font-size: 16px;
    }
  }

  .radio-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    background-color: white;

    &.selected {
      background-color: var(--pf2e-subsystem-theming-tertiary);
      
      .radio-button-locked {
        color: var(--pf2e-subsystem-theming-secondary-icon);
        text-shadow: 0 0 5px var(--pf2e-subsystem-theming-primary-color);
      }
    }

    .radio-button-selected {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: var(--pf2e-subsystem-theming-tertiary);
      content: "",
    }

    .radio-button-locked {
      font-size: 10px;
      color: black; // Fix this. Add var(secondary-color)?
    }
  }

  .toggle-switch {
    position: relative;
    display: flex;
    align-items: center;
  }

  .editor {
    height: 100%;
    overflow: auto;

    .editor-container {
      height: 100%;

      .editor-content {
        height: 100%;
        overflow: auto;
      }
    }
  }     
}